{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Editar perfil - LibreríaCoder</title>
{% endblock titulo %}

{% block contenido %}

<div class="container mt" style="margin: 4rem auto;">
    
    <div class="row d-flex justify-content-center" style="color: white;">
        
        <div class="col-md-7" style=" width: 100%;">
            
            <div class="card p-3 py-4 bg-dark" style="border-radius: 1rem;">
                <form action={% url 'editar_perfil' %} method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <table>
                        {{form_edit.as_table}}
                    </table>
                    <div style="width: 100%; text-align: center;margin: 1rem auto;" >
                    <button class="btn btn-primary px-4 ms-3" style="">Editar</button>
                    </div>
                </form>
                
                
            </div>
            
        </div>
        
        
    </div>
    
</div>

{% endblock contenido %}
