{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Perfil - LibreríaCoder</title>
{% endblock titulo %}

{% block contenido %}

<div class="container mt " style="margin: 4rem auto;" >
    
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-7" style=" width: 50%;">
            
            <div class="card p-3 py-4 bg-light" style="border-radius: 1rem;">
                <div class="text-center">
                    {% if usuario.avatar %}
                        <img src={{usuario.avatar.url}} style="border-radius: 50%; height:250px;width:250px;"  alt="" class="border border-success">
                    {% else %}
                        <img src="{% static 'LibreriaCoderApp/assets/img/AvatarPorDefecto.png' %}" style="border-radius: 50%;height:250px;width:250px;"    alt="" class="border border-success">
                    {% endif %}
                </div>
                
                <div class="text-center mt-3">
                    <span class="bg-success p-1 px-4 rounded text-white" style="text-transform: capitalize;">{{usuario.user}}</span>
                    <h5 class="mt-2 mb-0">{{usuario.first_name}} {{usuario.last_name}}</h5>
                    <span>UI/UX Designer</span>
                    
                    <div class="px-4 mt-1">
                        <p class="fonts">{{usuario.descripcion}}</p>
                    
                    </div>
                    
                    <div class="buttons">
                        {% if request.user != usuario.user %}
                        <button class="btn btn-outline-primary px-4">Enviar Mensaje</button>
                        {% endif %}
                        {% if request.user == usuario.user %}
                        <a class="btn btn-primary px-4 ms-3" href={% url 'editar_perfil' %}>Editar perfil</a>
                        <a class="btn btn-danger px-4 ms-3" href={% url 'cerrar_sesion' %}>Salir</a>
                        {% endif %}
                    </div>
                    
                    
                </div>
                
               
                
                
            </div>
            
            
        </div>
        <div class="col-md-7" style=" width: 50%;">
            
            <div class="card p-3 py-4 bg-light" style="border-radius: 1rem;">
            
            <span>Acá van los posts del usuario</span> 
                
                
            </div>
            
            
        </div>
        
    </div>
    
</div>



{% endblock contenido %}
