{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Perfil de {{usuario}}- BlogCoder</title>
{% endblock titulo %}

{% block contenido %}

<div class="container mt " style="margin: 4rem auto;" >
    
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-7" style=" width: 50%;">
            
            <div class="contenedorFormulario">
                <div class="text-center">
              
                    {% if masdatosusuarios.avatar %}
                    <img src={{  masdatosusuarios.avatar.url }} style="border-radius: 50%; height:250px;width:250px; object-fit: cover"  alt="" class="border border-success">
                    {% else %}
                    <img src="{% static 'LibreriaCoderApp/assets/img/AvatarPorDefecto.png' %}" style="border-radius: 50%;height:250px;width:250px;"    alt="" class="border border-success">
                    {% endif %}
                </div>
                <div class="text-center mt-3">

                    {% if usuario.user == masdatosusuarios.user  %}
                        <span class="bg-success p-1 px-4 rounded text-white" style="text-transform: capitalize;">{{request.user.username}}</span>
                    
                    {% elif usuario.user != None %}
                        <span class="bg-success p-1 px-4 rounded text-white" style="text-transform: capitalize;">{{masdatosusuarios.user}}</span>
                        

                    {% else %}
                    <span class="bg-success p-1 px-4 rounded text-white" style="text-transform: capitalize;">{{masdatosusuarios.user}}</span>
                    {% endif %}

                    
                    {% if masdatosusuarios.last_name %}
                        <h5 class="mt-2 mb-0">{{masdatosusuarios.first_name}} {{masdatosusuarios.last_name}}</h5>
                    {% else %}
                        <h5 class="mt-2 mb-0">John Doe</h5>
                    {% endif %}

                    <div class="px-4 mt-1">

                        {% if masdatosusuarios.descripcion == None %}
                            <p class="fonts">No hay descripción</p>
                        {% else %}
                            <p class="fonts">{{masdatosusuarios.descripcion}}</p>
                        {% endif %}
                    
                    </div>
                    
                    
                    <div class="buttons" >
                        {% if request.id == masdatosusuarios.user.id %}
                        <a class="btn btn-secondary px-4 ms-3" href="{#" style="width:40%; margin:1rem;">Mensajes</a>
                        {% else %}
                        <button class="btn btn-outline-primary px-4">Enviar Mensaje</button>
                        {% endif %}
                    </div>

                    <div class="buttons" >
                        {% if request.id == masdatosusuarios.user.id %} 
                        <a class="btn btn-danger px-4 ms-3" href={% url 'cerrar_sesion' %} style="margin: 0rem 1rem 0rem 1rem;;">Salir</a>
                        <a class="btn btn-primary px-4 ms-3" href={% url 'editar_perfil' %} style="margin: 0rem 1rem 0rem 1rem;">Editar perfil</a>

                        {% endif %}
                    </div>
                    
                    
                </div>
                
               
                
                
            </div>
            
            
        </div>

        <div class="col-md-7" style=" width: 50%;">
            

            <div class="card p-3 py-4 contenedorFormulario">
                {% if posts %}
                <span class="TituloPost" style="margin:auto 0">Posteos realizados</span>
                
                
                {% for post in posts %}
                
                {% if post.imagen %}
                <a class="alert alert-primary" href='{% url "post" post.id %}' style="text-decoration:none;margin: 1rem 0rem 0rem 0rem;" ><img src={{post.imagen.url}} style="width:100px; height: 50px;border-radius:0.2rem; object-fit: cover;" alt="">&nbsp; &nbsp; <span class="lead" style="color:black">{{post.titulo}}</span></a>
                {% else %}
                <a class="alert alert-primary" href='{% url "post" post.id %}' style="text-decoration:none;margin: 1rem 0rem 0rem 0rem;" ><img src="{% static 'LibreriaCoderApp/assets/img/PostSinImagen.jpg' %}" style="width:100px;height: 50px;border-radius:0.2rem;" alt="">&nbsp; &nbsp; <span class="lead" style="color:black">{{post.titulo}}</span></a>
                {% endif %}
                
                {% endfor %}

                {% else %}
                <div style=" text-align: center;padding:2rem;">
                        
                    <img src="{% static 'LibreriaCoderApp/assets/img/PaginaVacia.png' %}" alt="" style="width: 50%;filter: grayscale(100%)">
                    <h2 class="TituloPost">¡Ups! No hay nada por aquí...</h2>
                        {% if request.user.id == masdatosusuarios.user.id %}
                        <a class="btn btn-primary" href='{% url "crear_post" %}' style="margin: auto; width:10rem">Crear post</a>
                        {% endif %}
                        {% endif %}
                    </div>
            </div>
            
            
        </div>
        
    </div>
    
</div>



{% endblock contenido %}
