{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Contacto - LibreríaCoder</title>
{% endblock titulo %}

{% block contenido %}


<div class="contenedorFormulario">

    <form action="" method="POST" style="text-align: left;">

     {% csrf_token %}
     <table style="color:white; margin: 1rem auto">{{formulario_contacto.as_table}}</table>
     <div style="text-align: center;">
     <input type="submit" value="Enviar" style="width:20%;">
    </div>
    </form>

</div>
<p style="color:white;">{{request.POST}}</p>
{% endblock contenido %}
