{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Inicio - LibreríaCoder</title>
{% endblock titulo %}
{% block contenido %}

{% comment %} <h2 class="fw-bolder TituloPost">Último post</h2> {% endcomment %}
<div class="container mt-5  bs-light" style="  padding:2rem; margin-bottom: 2rem;">
    <div class="row" >
        <div class="col-lg-8 contenedorFormulario"style="background-color: white;padding:2rem;">
            <!-- Post content-->

            {% if ultimo_post %}
            <article >
                <!-- Post header-->

                <header class="mb-4 ">  
                    <!-- Post title-->
                    <div class="text-muted fst-italic mb-2">Publicado el {{ultimo_post.creado.day}}/{{ultimo_post.creado.month}}/{{ultimo_post.creado.year}} por <a href='{% url "perfil_usuario" ultimo_post.autor.id %}' style="text-decoration:none;"><span class="badge bg-success" style="text-transform:capitalize;">{{ultimo_post.autor}}</span> </a></div>                    
                    <a href='{% url "post" ultimo_post.id %}' style="text-decoration:none;"><span class="TituloPost">{{ultimo_post.titulo}}</span></a>
                    <!-- Post meta content-->
                    <!-- Post categories-->
                    <br>
                    <div class="text fst-italic mb-2">{{ultimo_post.subtitulo}}</div>
                    {% if ultimo_post.categorias.all%}

                        {% for categoria in ultimo_post.categorias.all %}
                       
                        <div class="badge bg-secondary text-decoration-none link-light" style="text-transform: capitalize;">
                            {{categoria.nombre}} 
                        </div> 
                       
                        {% endfor %}
                    {% else %}

                        <div class="badge bg-secondary text-decoration-none link-light" style="text-transform: capitalize;">
                            Sin categoria 
                        </div> 
                    {% endif %}
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ultimo_post.imagen.url}}" style="height: 400px; width:900px; object-fit: cover; width:100%;" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                   {{ultimo_post.contenido|safe}}
                </section>
            </article>
            
            {% endif %}
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4" >
                <div class="card-header">Buscar</div>
                <div class="card-body">    
                      
                        <form action="{% url 'buscar_post' %}" method="post">
                            {% csrf_token %}
                            {% for field in formulario_busqueda %}
                              <label for="{{ field.name }}"></label>
                              {{ field }}
                              <button class="btn btn-primary" style="float: right;"id="button-search" type="button">Buscar</button>
                           
                            {% endfor %}
                        
                          
                    </div>
                </div>
                    

           
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categorias </div>
                <div class="card-body">
                    
                        
                            <ul class="list-unstyled mb-0">
                                <li>
                                {% for categoria in categoria.all %}
                                    <a href='{% url "categoria" categoria.id %}'class="badge bg-secondary text-decoration-none link-light" style="text-transform: capitalize;"  style="text-decoration:none;color:white;">{{categoria.nombre}}</a>
                                {% endfor %}</li>
                            </ul>
                    
                
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Usuarios registrados: <span class="badge bg-primary text-decoration-none link-light" style="border-radius: 25%">{{total_usuarios}}</span></div>
                <div class="card-body">{% for user in users %}
                    <a href='{% url "perfil_usuario" user.id %}' style="text-decoration:none;"><span class="badge bg-success" style="text-transform:capitalize;">{{user.username}}</span> </a>
                    {% endfor %}</div>
            </div>
        </div>
    </div>
</div>


{% endblock contenido %}
