{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Blog - LibreríaCoder</title>
{% endblock titulo %}

{% block contenido %}
<div style="text-align: end; padding: 1rem;background-color: #212529;">
    {% if request.user.is_authenticated %}
    <a class="btn btn-primary" href='{% url "crear_post" %}' style="margin: auto; width:10rem">Crear post</a>
    {% endif %}
    <a class="btn btn-primary" href='{% url "buscar_post" %}' style="margin: auto 2rem; width:10rem">Buscar post</a>
</div>


<main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-left">

        <div class="row">

            {% for post in posts %}
            <div class="col-lg-4" style="margin: 1rem auto; ">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img  src="{{post.imagen.url}}" class="img-fluid" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{post.titulo}}</h5>
                    <p class="card-text">
                        <h6 class="mall text-muted" >{{post.subtitulo}}</h6>
                    </p>
                    <div class="small text-muted" style="text-transform: capitalize;">{{post.creado}} |   
                        {% for categoria in post.categorias.all %}
                            {{categoria.nombre}}
                        {% endfor %} |
                    Autor: {{post.autor}}</div>
                    <br>
                    <a class="btn btn-primary" href='{% url "post" post.id %}'>Leer más→</a>
                    
                  </div>
                </div>
              </div>
              
              {% endfor %}
              
        </div>
      </section>
      <!--Section: Content-->
    </div>
  </main>



<section style="background-color: #212529">
    <div style="width=75%;padding:2rem; text-align:left;color: #ffffff; margin: 1rem;">
        <b>Categorias: </b>
        {% for post in posts %}
            {% for categoria in post.categorias.all %}
                <a href='{% url "categoria" categoria.id %}' style="text-decoration:none;color:white;">{{categoria.nombre}}</a> | 
            {% endfor %}
        {% endfor %}

    

    </div>
    <div style="background-color: #0d6efd; height: 0.2rem;"</div>
</section>

{% endblock contenido %}