{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Busqueda - LibreríaCoder</title>
{% endblock titulo %}

{% block contenido %}
<div style="text-align: end; padding: 1rem;background-color: #212529;">
    
   
    <form action={% url 'buscar_post' %} style="margin-right: 1rem ; color:white;" enctype="multipart/form-data">
        
        {{formulario_busqueda}}
        <button>Buscar</button>
        
        <a class="btn btn-primary" href={% url 'blog' %} style="margin: auto 1rem;">Volver al blog</a>
    </form>
</div> 

{% if listado_post %}

 
<main class="my-5">
  <div class="container" >
    <!--Section: Content-->
    <section class="text-left">

      <div class="row">

          {% for post in listado_post %}
          <div class="col-lg-4" style="margin: 1rem 0; ">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light" >
                  <img  src="{{post.imagen.url}}" class="img-fluid"style="height: 250px; object-fit: cover; width:100%;" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title" style="margin: 0;">{{post.titulo}}</h5>
                  <p class="card-text">
                      <h6 class="mall text-muted"style="margin: 0;" >{{post.subtitulo}}</h6>
                  </p>
                  <div class="small text-muted" style="text-transform: capitalize;">{{post.creado}} | Autor: {{post.autor}} </div>  
                  
                  <div style="margin: 1rem auto;">
                  {% if post.categorias.all %}
                  {% for categoria in post.categorias.all %}
                  <div class="badge bg-secondary text-decoration-none link-light" style="text-transform: capitalize;">
                          {{categoria.nombre}} 
                        </div> 
                  {% endfor %}
                  {% else %}
                  <div class="badge bg-secondary text-decoration-none link-light" style="text-transform: capitalize;">
                   Sin categoria
                  </div> 
                        {% endif %}
                </div>
                  <a class="btn btn-primary" href='{% url "post" post.id %}' style="width:100%">Leer más</a>
                  
                </div>
              </div>
            </div>
            
            {% endfor %}
            
      </div>
    </section>
    <!--Section: Content-->
  </div>
</main>

{% else %}
<div style="width:50%;margin: 1rem auto; background-color: red; border-radius: 1rem;">
            <p style="color: white; padding: 0.5rem; text-align: center;">¡NO SE HA ENCONTRADO NINGÚN RESULTADO!</p>
</div   >
{% endif %}





{% endblock contenido %}