{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Blog - LibreríaCoder</title>
{% endblock titulo %}

{% block contenido %}


<section style="background-color: #212529">
    <div style="width=75%;padding:2rem;text-align:left;color: #ffffff;">
        <b>Categorias: </b>
        {% for post in posts %}
        {% for categoria in post.categorias.all %}
        {{categoria.nombre}}
        {% endfor %}
        {% endfor %}
        <a href='{% url "blog" %}' style="text-decoration: none;color:white; index: -30;"><b>Mostrar todas</b></a>
</div>
    </div>
</section>

{% for post in posts %}
    <div>
        <div class="card mb-4" style="margin:1rem;">
            <a href="#!"><img class="card-img-top" src="{{post.imagen.url}}" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted" style="text-transform: capitalize;">{{post.creado}} |   
                        {% for categoria in post.categorias.all %}
                            {{categoria.nombre}}
                        {% endfor %} |
                    Autor: {{post.autor}}</div>
                <h2 class="card-title h4">{{post.titulo}}</h2>
                <h6 class="card-title h6">{{post.subtitulo}}</h6>
                <a class="btn btn-primary" href="#!">Leer más→</a>
            </div>
        </div>
    </div>

{% endfor %}


{% endblock contenido %}