{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>{{post.titulo}} - LibreríaCoder</title>
{% endblock titulo %}

{% block contenido %}

<div class="container mt-5" style="background-color: #212529; padding:1rem;">
    <div class="row"> 
    <div style="margin: 0 auto; text-align: center;">
        <a class="btn btn-danger" href='{% url "eliminar_post" post.id %}' style="margin: auto; width:10rem">Borrar post</a>
        <a class="btn btn-primary" href='{% url "editar_post" post.id  %}' style="width:10rem">Editar post</a>
</div>
    </div>
    </div>
    <!-- Page content-->
    <div class="container mt-5" style="background-color: #212529; padding:2rem; margin-bottom: 2rem;">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article style="color:white;">
                    <!-- Post header-->
                    <header class="mb-4" >
                        <!-- Post title-->
                        <div class="text-muted fst-italic mb-2">Publicado el {{post.creado.day}}/{{post.creado.month}}/{{post.creado.year}} por {{post.autor}}</div>                        
                        <h1 class="fw-bolder mb-1">{{post.titulo}}</h1>
                        
                        <!-- Post meta content-->
                        <div class="text fst-italic mb-2">{{post.subtitulo}}</div>
                        
                        <!-- Post categories-->
                        {% for categoria in post.categorias.all %}
                        <a class="badge bg-secondary text-decoration-none link-light" href='{% url "categoria" categoria.id %}'>
                            {{categoria.nombre}}
                        </a>
                        {% endfor %}
                    </header>
                    <!-- Preview image figure-->
                    {% if post.imagen %}
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.imagen.url }}"alt="..." /></figure>
                    {% endif %}
                    <!-- Post content-->
                    <section class="mb-5">
                        {{post.contenido|safe}}
                    </section>
                </article>
            </div>
            </div>
        </div>
    </div>


{% endblock contenido %}