{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>{{post.titulo}} - BlogCoder</title>
{% endblock titulo %}

{% block contenido %}

    
       <!-- Page content-->
       <div class="container mt-5 bg-light" style=" padding:2rem; margin-bottom: 2rem;">
        <div class="row"style="background-color: white;padding:2rem;border-style: solid;
        border-width: 1px;
        border-color: #dee2e6;">
                <!-- Post content-->
                <article style="padding: 0rem">
                    <!-- Post header-->
                    
                    <header class="mb-4" >
                        <!-- Post title-->
                        <div class="text-muted fst-italic mb-2">Publicado el {{post.creado.day}}/{{post.creado.month}}/{{post.creado.year}} por <a href='{% url "perfil_usuario" post.autor.id %}' style="text-decoration:none;"><span class="badge bg-success" style="text-transform:capitalize;">{{post.autor}}</span> </a></div> 
                        
                        <span class="TituloPost">{{post.titulo}}</span>
                        
                        <!-- Post meta content-->
                        <div class="text fst-italic mb-2">{{post.subtitulo}}</div>
                        
                        
                    </header>
                    <!-- Preview image figure-->
                    {% if post.imagen %}
                        <figure class="mb-4"><img class="img-fluid rounded" style=" object-fit: cover; width:100%;"  src="{{ post.imagen.url }}"alt="..." /></figure>
                    {% endif %}
                    <!-- Post content-->
                    <section class="mb-5">
                        {{post.contenido|safe}}
                    </section>
                </article>

                
                {% if request.user == post.autor  or request.user.is_superuser%}
    <div class="container mt-5 ">
        <div class="row"> 
            <div>
                <a class="btn btn-danger" href='{% url "eliminar_post" post.id %}' style="margin: auto; width:10rem">Borrar post</a>
                <a class="btn btn-primary" href='{% url "editar_post" post.id  %}' style="width:10rem">Editar post</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>







</div>
            
    
{% endblock contenido %}